@model IEnumerable<Group_Project.SendContend>

@{
    ViewBag.Title = "history";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Uploaded</h2>

<p>
    @Html.ActionLink("Add New", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wordContend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageContend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uploaddDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.userName)
        </td>
        <td>

            @Html.ActionLink(item.wordContend, "downloadFile", new { Name = item.wordContend })
            
        </td>
        <td>
            <img src="@Url.Content(item.imageContend)" width="150" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uploaddDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.contendStatus)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id })
        </td>
    </tr>
    }

</table>
